.base {
  padding: 0.8rem 1.5rem;
  color: white;
  border: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: auto 0.25rem;
  border-radius: 2px;
  outline: none;
}

.root {
  @extend .base;
  background: #4b54e9;
  cursor: pointer;
}

.root:disabled {
  background: #ababab;
  color: #2a2a2a;
  cursor: not-allowed;
}
